<section class="relative px-6 py-28 overflow-hidden">

  <!-- fondo oscuro  -->
  <div class="absolute inset-0 
              bg-gradient-to-b 
              from-gray-800/90 
              via-neutral-700/90
              to-neutral-600/90"></div>

  <!-- glow rojo  -->
  <div class="pointer-events-none absolute inset-0 flex items-center justify-center">
    <div class="w-[560px] h-[560px] bg-red-600/18 blur-[160px] rounded-full"></div>
  </div>

  <!-- contenido -->
  <div class="relative max-w-4xl mx-auto text-center">

    <h2 class="text-2xl md:text-4xl font-bold text-white leading-tight">
      Presupuesto sin cargo,
      <br class="hidden sm:block" />
      rápido y sin compromiso
    </h2>

    <a
      href="https://wa.me/5491154586060"
      target="Hola que tal, me gustaría solicitar un presupuesto para una mudanza."
      class="inline-block mt-12 rounded-full
             bg-red-600 px-12 py-4
             text-white font-semibold text-lg
             border border-red-500/40
             shadow-[0_12px_45px_-12px_rgba(220,38,38,0.6)]
             transition-all duration-300 ease-out
             hover:scale-105 hover:bg-red-650
             hover:shadow-[0_22px_70px_-12px_rgba(220,38,38,0.85)]"
    >
      Quiero un presupuesto
    </a>

  </div>
</section>